<div class="msg-container">
  <% infoMessages && infoMessages.forEach((message) => { %>
    <div class="alerts alert-info">
    <%- message %>
    </div>
    <% })
    dangerMessages && dangerMessages.forEach((message) => { %>
    <div class="alerts alert-danger">
    <%- message %>
    </div>
    <% })
    errorMessages && errorMessages.forEach((message) => { %>
    <div class="alerts alert-danger">
    <%- message %>
    </div>
    <% })
    successMessages && successMessages.forEach((message) => { %>
    <div class="alerts alert-success">
    <%- message %>
    </div>
    <% })
    warningMessages && warningMessages.forEach((message) => { %>
    <div class="alerts alert-warning">
    <%- message %>
    </div>
  <% }) %>
</div>
