<div class="col-md-6 mb-4">
  <h1>Error <%= error.status %> <%= error.message %></h1>
  <h2>Error <%= error.status %></h2>
  <pre style="color: red"><%= error.stack %></pre>
  <p>hola paco</p>
</div>

<h1>Fuck, this is a fucking mistake stop touching the website</h1>
<p> <%= error.message %></p>
<p> <%= error.status %></p>
