<h1>Eklilikua</h1>
<% if (currentUser) { %>
<p>Welcome <%= currentUser.name %></p>
<% } %>


<nav>
  <ul>
      <% if (currentUser) { %>
        <li><a href="/users/">Go to your homepage</a></li>
        <li>
          <a href="/users/logout">Log out</a>
        </li>
      <% } else { %>
        <li>
          <a href="/auth">Log in</a>
        </li>
      <% } %>
    </ul>
</nav>
<ul>
  <% classes.forEach((lesson) => { %>
    <li class="list-group-item">
      <% if (view === 'own' || view === 'attending' || view === 'teaching') { %>
        <a href="/users/classes/<%= view %>/<%= lesson._id %>">
      <% } else { %>
        <%- include('partials/miniclasscard.ejs', { lesson })%>
      <% } %>
    </li>
  <% }) %>
</ul>

<p><%= copyright %></p>