<h2><%= class.title %></h2>
<p>Of <%= class.categoryID %>, <%= class.subcategoryID %></p>
<p>The schedule is <%= class.days %> <%= class.schedule %></p>
<p>Price <%= class.price %></p>
<p>Duration <%= class.duration %></p>
<a href="<%= class._id %>/update">update</a>
<form action="<%= class._id %>/delete" method="post">
  <input type="submit" value="delete">
</form>