<%- include('../../partials/navbar')%>

 <!--Grid column-->
 <div class="col-md-6 mb-4">

 <!--Content-->
  <div class="p-4">
    <h2>You are going to teach this new class</h2>
    <form action="/users/classes/new" method="post">
      <!-- Material input subject -->
      <div class="md-form form-sm">
        <input type="text" name="title" id="title" class="form-control form-control-sm">
        <label for="title">Class title</label>
      </div>

      <div class="md-form form-sm">
        <textarea type="text" id="description"  name="description" class="md-textarea form-control"></textarea>
        <label for="description">Description</label>
      </div>

      <div class="md-form form-sm">
        <h6><span>Category</span></h6>
        <!-- <label for="category" class="active">Category</label> -->
        <select id="category" name="category" class="form-control form-control-sm">
          <option value="" disabled selected>Choose a category</option>
          <% categories.forEach((cat) => { %>
            <option value="<%= cat.name %>"><%= cat.name %></option> 
          <% })%>
        </select>
      </div>

      <div class="md-form form-sm">
        <h6><span>Level</span></h6>
        <!-- <label for="level" class="active">Level</label> -->
        <select id="level" name="level" class="form-control form-control-sm">
          <option value="" disabled selected>Choose a level</option>
          <% levels.forEach((level) => { %>
          <option value="<%= level.name %>"><%= level.name %></option> 
          <% })%>
        </select>
      </div>

      <div class="md-form form-sm">        
        <label for="schedule" class="active">Schedule</label>
        <input type="date" class="datepicker" name="schedule" id="schedule" max="2019-12-31" class="form-control form-control-sm">
        <script>setMinScheduleDate();</script>
      </div>

      <div class="md-form form-sm">
        <input type="checkbox" id="repeat" onChange="enableRepeatSchedule()">
        <label for="repeat" class="active">Repeat</label>
      </div>
    
      <div class="md-form form-sm">
        <select id="frequency" name="repeat" class="scheduleItem form-control form-control-sm" disabled>
          <option value="Not">Not</option>
          <option value="Daily">Daily</option>
          <option value="Weekly">Weekly</option>
          <!-- 
            <option value="Monthly">Monthly</option>
            <option value="Yearly">Yearly</option>
          -->
        </select>
      </div>

      <!-- 
        <div class="md-form form-sm">
          <select id="days" name="days" class="scheduleItem form-control form-control-sm" disabled>
            <option value="Not">Not</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>
        </div>
      -->
      <div class="d-flex">
        <div class="md-form form-sm mr-4">
          <label for="duration">Duration in minutes</label>
          <input type="number" class="form-control form-control-sm" name="duration" id="duration">
        </div>
        <div class="md-form form-sm">
          <label for="price">Price per class in K$</label>
          <input type="number" class="form-control form-control-sm" name="price" id="price">
        </div>
      </div>
      

      <div class="text-center mt-4 mb-2">
        <input class="btn button" type="submit" value="Create class">
        <p><a href="/users/" class="color-orange">Cancel</a> changes and go Home</p>
      </div>
    </form>
  </div>
  </div>
  <%- include('../../partials/backbutton.ejs')%>