<h2><%= currentUser.username %> Classes</h2>
<ul>
  <% classes.forEach((class) => { %>
    <li class="list-group-item">
      <a href="/classes/<%= class._id %>">
        <%= class.title %>
      </a>
      <p>Of <% class.categoryID %> <% class.subcategoryID %></p>
      <p>The schedule is <% class.days%> <% class.schedule %></p>
      <a href="/classes/<%= class._id %>/edit">
        update
      </a>
      <form action="/classes/<%= class._id %>/delete" method="post">
        <input type="submit" value="delete">
      </form>
    </li>
  <% })%>
</ul>
<a href="/new"></a>
<p><a href="/">Go Home and see all classes</a></p>
