<div id= "chat container" class="chat-container container-fluid h-100">
  <%- include('../partials/navbar')%>
  <div class="col-md-8 col-xl-6 chat">
    <div class="card-header">
        <h2><%= lesson.title %></h2>

        <!-- PASS OBJECTS BETWEEN EJS AND JS SCRIPTS -->
        <span id='currentUser' hidden>
            <%= JSON.stringify(currentUser); %>
        </span>
        <!-- <textarea id="username" class="hidden"> <%= currentUser.name %></textarea>
        <textarea id="useravatar" class="hidden"> <%= currentUser.avatar %></textarea> -->
    
    </div>
    <div id="chat-window" class="card chat-card">
      <div class="card-header msg-head">
        <div class="d-flex bd-highlight justify-content-around">
          <div class="img-cont">
              <a href="/users/<%= lesson.professor._id %>/profile"><img src="<%= lesson.professor.avatar %>" class="rounded-circle user-img professor-img"></a>
            <span class="online-icon"></span>
            <span class="offline-icon"></span>
          </div>
          <% lesson.alumns.forEach( alumn => { %>
            <div class="img-cont">
                <a href="/users/<%= alumn._id %>/profile"><img src="<%= alumn.avatar %>" class="rounded-circle user-img"></a>
              <span class="online-icon"></span>
            </div>
          <% }) %>
        </div>
      </div>

      <!-- This should be on the sepparate partial -->
        <div id="output" class="card-body chat-body">
        </div>
      <!-- End of This should be on the sepparate partial -->

      <div id="actions"></div>

      <div class="card-footer">
        <div class="input-group">
          <textarea id="message" class="form-control type-msg" placeholder="Type your message..."></textarea>
          <div class="input-group-append">
            <button id="send" class="input-group-text send-btn"><i class="fas fa-location-arrow" value="<%= currentUser %>"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/backbutton.ejs')%>