<!--Main layout-->
<div class="container dark-grey-text classcard">
  <!--Grid row-->
  <div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 mb-4 img-professor">

      <img src="<%= lesson.professor.avatar %>" class="img-fluid img-professor" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6">

      <!--Content-->
      <div class="p-4">

        <div class="mb-3">
          <a href="">
            <span class="badge background-violet mr-1 category"><%= lesson.categoryID %></span>
          </a>
          <a href="">
            <span class="badge background-orange mr-1 category"><%= lesson.subcategoryID %></span>
          </a>
        </div>

        <h2><%= lesson.title %></h2>
        <h3><% lesson.level %></h3>
        <p class="lead font-weight-bold">Professor: <a href="/users/<%= lesson.professor._id %>/profile"><%= lesson.professor.name %></a></p>
        <hr>
        
        <p class="lead">
          <span class="mr-1">
          <i class="fas fa-money-bill-wave icon-space"></i>
          <% if (lesson.alumns.length < 2) {%>
            <span class="color-black"><%= lesson.price %> K$ per class</span>
          <% } else { %>
            <span class="mr-1">
              <del class="color-black"><%= lesson.price %> K$</del>
            </span>
            <span class="color-black"><%= lesson.price/lesson.alumns.length %> K$ per class</span>
          <% } %>
        </span>
        </p>
        

        <p class="lead">
          <span class="mr-1">
            <i class="fas fa-clock icon-space"></i>
            <span class="color-black"><%= lesson.duration %> min of duration</span>
          </span>
        </p>

        <p class="lead">
          <span class="mr-1">
            <i class="fas fa-calendar-alt icon-space"></i>
            <span class="color-black"><%= lesson.days %> <%= moment(lesson.schedule).format('DD') %>th of  <%= moment(lesson.schedule).format('MMMM') %></span>
          </span>
        </p>

        <p><%= lesson.description %></p>

        <% if (lesson.alumns.length === 0) {%>
          <p class="color-orange">No one is on this class yet, but there is sooooo much learning here, are you ready to join?</p>
        <% } else { %>
          <p class="color-orange">The alumns of this class are: </p>
        <% } %>

        <% if (currentUser) { %>
        <ul class="list-group">
          <% var booked = false; %>
          <% lesson.alumns.forEach( alumn => { %>
            <% if (alumn._id == currentUser._id) {%>
              <% booked = true; %>
            <% } %>
            <li class="list-group-item avatar-list">
              <div class="avatar-list-item">
                <a href="/users/<%= alumn._id %>/profile"><img src="<%= alumn.avatar %>" alt="alumn avatar" class="img-fluid rounded-circle img-little-avatar"></a>
                <a href="/users/<%= alumn._id %>/profile" class="ml-2"><%= alumn.name %></a>
              </div>
            </li>
          <% }) %>
        </ul>
        <% } %>
        
        <p></p>  
      </div>
      <!--Buttons-->
    </div>
      <div class="d-flex flex-row justify-content-center align-items-center w-100 mb-3">
        <% if (!currentUser) {%>
          <a href="/classes/<%= lesson._id %>/join" class="btn button">Join</a>
        <% } else { %>
          <% if (!(lesson.professor._id == currentUser._id)) {%>
            <% if (booked) {%>
              <a href="/classes/<%= lesson._id %>/leave" class="btn button delete-button">Leave</a>
            <% } else { %>
                <a href="/classes/<%= lesson._id %>/join" class="btn button">Join</a>
            <% } %>
          <% } else { %>
            <a href="/users/classes/own/<%= lesson._id %>/update" class="btn button other-button">Update</a>
            <form action="/users/classes/own/<%= lesson._id %>/delete" method="post">
              <input type="submit" value="Delete"  class="btn delete-button">
            </form>
          <% } %>
        <% } %>
      </div>
</div>
<%- include('../partials/backbutton.ejs')%>