<h2><%= lesson.title %></h2>

<p>Professor: <a href="/users/<%= lesson.professor._id %>/profile"><%= lesson.professor.name %></a></p>

<p>Of <%= lesson.categoryID %>, <%= lesson.subcategoryID %></p>
<p>The schedule is <%= lesson.days %> <%= lesson.schedule %></p>
<p>Price <%= lesson.price %></p>
<p>Duration <%= lesson.duration %></p>
<p>Alumnos: </p>

<% if (currentUser) { %>
<ul>
  <% var booked = false; %>
  <% lesson.alumns.forEach( alumn => { %>
    <% if (alumn.name === currentUser.name) {%>
      <% booked = true; %>
    <% } %>
    <li>
        <a href="/users/<%= alumn._id %>/profile"><%= alumn.name %></a>
    </li>
  <% }) %>
</ul>
<% } %>

<p></p>

<% if (!booked) {%>
  <a href="/classes/<%= lesson._id %>/join"> Join</a>
<% } else { %>
  <a href="/classes/<%= lesson._id %>/leave"> Leave</a>
<% } %>

<p></p>

<% if (currentUser && lesson.professor.name === currentUser.name) {%>
  <a href="/users/classes/own/<%= lesson._id %>/update">update</a>
  <form action="/users/classes/own/<%= lesson._id %>/delete" method="post">
    <input type="submit" value="delete">
  </form>
<% } %>