<h2><%= selectedClass.title %></h2>
<p>Category/Subcategory: <%= selectedClass.categoryID %>, <%= selectedClass.subcategoryID %></p>
<p>The schedule is <%= selectedClass.days %> <%= selectedClass.schedule %></p>
<p>Price <%= selectedClass.price %></p>
<p>Duration <%= selectedClass.duration %></p>
<a href="/classes">Back to list</a>