<!--Main layout-->
<div class="container dark-grey-text classcard">
  <!--Grid row-->
  <div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 mb-4 img-professor">

      <img src="<%= lesson.professor.avatar %>" class="img-fluid img-professor" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <!--Content-->
      <div class="p-4">

        <div class="mb-3">
          <a href="">
            <span class="badge background-violet mr-1 category"><%= lesson.categoryID %></span>
          </a>
          <a href="">
            <span class="badge background-orange mr-1 category"><%= lesson.subcategoryID %></span>
          </a>
        </div>

        <h2><%= lesson.title %></h2>
        <h3><% lesson.level %></h3>
        <p class="lead font-weight-bold">Professor: <a href="/users/<%= lesson.professor._id %>/profile"><%= lesson.professor.name %></a></p>
        <hr>
        
        <p class="lead">
          <span class="mr-1">
          <i class="fas fa-money-bill-wave icon-space"></i>
          <% if (lesson.alumns.length < 2) {%>
            <span><%= lesson.price %> K$ per class</span>
          <% } else { %>
            <span class="mr-1">
              <del><%= lesson.price %> K$</del>
            </span>
            <span><%= lesson.price/lesson.alumns.length %> K$ per class</span>
          <% } %>
        </span>
        </p>
        

        <p class="lead">
          <span class="mr-1">
            <i class="fas fa-clock icon-space"></i>
            <span><%= lesson.duration %> min of duration</span>
          </span>
        </p>

        <p class="lead">
          <span class="mr-1">
            <i class="fas fa-calendar-alt icon-space"></i>
            <span><%= lesson.days %> <%= moment(lesson.schedule).format('DD') %>th of  <%= moment(lesson.schedule).format('MMMM') %></span>
          </span>
        </p>

        <p><%= lesson.description %></p>

        <% if (lesson.alumns.length === 0) {%>
          <p class="color-orange">Sooooo much learning in this class, are you ready? </p>
        <% } else { %>
          <p class="color-orange">The alumns of this class are:</p>
        <% } %>

        <% if (currentUser) { %>
        <ul class="list-group">
          <% var booked = false; %>
          <% lesson.alumns.forEach( alumn => { %>
            <% if (alumn.name === currentUser.name) {%>
              <% booked = true; %>
            <% } %>
            <li class="list-group-item avatar-list">
              <div class="avatar-list-item">
                <img src="<%= alumn.avatar %>" alt="alumn avatar" class="img-fluid rounded-circle img-little-avatar">
                <a href="/users/<%= alumn._id %>/profile"><%= alumn.name %></a>
              </div>
            </li>
          <% }) %>
        </ul>
        <% } %>
        
        <p></p>
        
        <% if (!booked) {%>
          <a href="/classes/<%= lesson._id %>/join" class="btn button"> Join</a>
        <% } else { %>
          <a href="/classes/<%= lesson._id %>/leave" class="btn button"> Leave</a>
        <% } %>
        
        <p></p>
        
        <% if (currentUser && lesson.professor.name === currentUser.name) {%>
          <a href="/users/classes/own/<%= lesson._id %>/update">update</a>
          <form action="/users/classes/own/<%= lesson._id %>/delete" method="post">
            <input type="submit" value="delete">
          </form>
        <% } %>

      </div>
      <!--Content-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->


</div>
<!--Main layout-->